dist/colors.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Resources for further developments">
    <title>Components Library ~ Colors</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>
  <body>
    <div class="main-wrapper">
      <main class="main">
        <header class="header colors-page__header">
          <h1>Colors</h1>
        </header>
        <section class="colors-page__section">
          <h2>Grayscale</h2>
          <div class="colors-page__cards-container">
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--dark">
              <h3>Grayscale Primary</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 10%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-primary</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--dark">
              <h3>Grayscale 20</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 20%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-20</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--dark">
              <h3>Grayscale 30</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 30%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-30</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--dark">
              <h3>Grayscale 40</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 40%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-40</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--dark">
              <h3>Grayscale 50</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 50%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-50</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--dark">
              <h3>Grayscale 60</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 60%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-60</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--light">
              <h3>Grayscale 70</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 70%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-70</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--light">
              <h3>Grayscale 80</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 80%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-80</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--light">
              <h3>Grayscale 90</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 90%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-90</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-1 colors-page__card--light">
              <h3>Grayscale 100</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 0%, 100%)</p>
                </div>
                <div class="variable font-light">
                  <p>$color-grayscale-100</p>
                </div>
              </footer>
            </div>
          </div>
        </section>
        <section class="colors-page__section">
          <h2>Alt Color</h2>
          <section class="colors-page__cards-container">
            <div class="colors-page__card colors-page__card--section-2 colors-page__card--dark">
              <h3>Alt Primary</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 100%, 50%</p>
                </div>
                <div class="variable font-light">
                  <p>$color-alt-primary</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-2 colors-page__card--light">
              <h3>Alt 70</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 100%, 70%</p>
                </div>
                <div class="variable font-light">
                  <p>$color-alt-70</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-2 colors-page__card--light">
              <h3>Alt 80</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 100%, 80%</p>
                </div>
                <div class="variable font-light">
                  <p>$color-alt-80</p>
                </div>
              </footer>
            </div>
            <div class="colors-page__card colors-page__card--section-2 colors-page__card--light">
              <h3>Alt 90</h3>
              <footer>
                <div class="color-code">
                  <p>hsl(0, 100%, 90%</p>
                </div>
                <div class="variable font-light">
                  <p>$color-alt-90</p>
                </div>
              </footer>
            </div>
          </section>
        </section>
      </main>
      <aside class="aside">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item"><a class="link main-nav__link" href="index.html">home</a>
            </li>
            <li class="main-nav__item"><a class="link main-nav__link main-nav__link--active" href="colors.html">colors</a>
            </li>
            <li class="main-nav__item"><a class="link main-nav__link" href="typography.html">typography</a>
            </li>
            <li class="main-nav__item"><a class="link main-nav__link" href="elevation.html">elevation</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </body>
</html>

src/pug/colors.pug
extends templates/template
append config
  - nombrePagina = 'Colors'
  - nombreHeader = 'Colors'
  - actual = 'colors'

block main
  header.header.colors-page__header
    h1 #{nombreHeader}
  section.colors-page__section
    h2 Grayscale
    .colors-page__cards-container
      +colorsGray(true, 'Grayscale Primary', 'hsl(0, 0%, 10%)', '$color-grayscale-primary')
      +colorsGray(true, 'Grayscale 20', 'hsl(0, 0%, 20%)', '$color-grayscale-20')
      +colorsGray(true, 'Grayscale 30', 'hsl(0, 0%, 30%)', '$color-grayscale-30')
      +colorsGray(true, 'Grayscale 40', 'hsl(0, 0%, 40%)', '$color-grayscale-40')
      +colorsGray(true, 'Grayscale 50', 'hsl(0, 0%, 50%)', '$color-grayscale-50')
      +colorsGray(true, 'Grayscale 60', 'hsl(0, 0%, 60%)', '$color-grayscale-60')
      +colorsGray(false, 'Grayscale 70', 'hsl(0, 0%, 70%)', '$color-grayscale-70')
      +colorsGray(false, 'Grayscale 80', 'hsl(0, 0%, 80%)', '$color-grayscale-80')
      +colorsGray(false, 'Grayscale 90', 'hsl(0, 0%, 90%)', '$color-grayscale-90')
      +colorsGray(false, 'Grayscale 100', 'hsl(0, 0%, 100%)', '$color-grayscale-100')
  section.colors-page__section
    h2 Alt Color
    section.colors-page__cards-container
      +colorsAlt(true, 'Alt Primary', 'hsl(0, 100%, 50%', '$color-alt-primary')
      +colorsAlt(false, 'Alt 70', 'hsl(0, 100%, 70%', '$color-alt-70')
      +colorsAlt(false, 'Alt 80', 'hsl(0, 100%, 80%', '$color-alt-80')
      +colorsAlt(false, 'Alt 90', 'hsl(0, 100%, 90%', '$color-alt-90')
