dist/elevation.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Resources for further developments">
    <title>Components Library ~ Elevation</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>
  <body>
    <div class="main-wrapper">
      <main class="main">
        <header class="header elevation-page__header">
          <h1>Elevation</h1>
        </header>
        <section class="elevation-page__section">
          <div class="elevation-page__cards-container">
            <div class="elevation-page__card">
              <h3>Shadow MD</h3>
              <footer>
                <div class="elevation-code">
                  <p>0 5px 15px 0 rgba(0, 0, 0, 0.15)</p>
                </div>
                <div class="variable font-x-light">
                  <p>$shadow-md</p>
                </div>
              </footer>
            </div>
            <div class="elevation-page__card">
              <h3>Shadow LG</h3>
              <footer>
                <div class="elevation-code">
                  <p>0 5px 25px 0 rgba(0, 0, 0, 0.2)</p>
                </div>
                <div class="variable font-x-light">
                  <p>$shadow-lg</p>
                </div>
              </footer>
            </div>
            <div class="elevation-page__card">
              <h3>Shadow Modal</h3>
              <footer>
                <div class="elevation-code">
                  <p>0 5px 50px 0 rgba(0, 0, 0, 0.5)</p>
                </div>
                <div class="variable font-x-light">
                  <p>$shadow-modal</p>
                </div>
              </footer>
            </div>
          </div>
        </section>
      </main>
      <aside class="aside">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item"><a class="link main-nav__link" href="index.html">home</a>
            </li>
            <li class="main-nav__item"><a class="link main-nav__link" href="colors.html">colors</a>
            </li>
            <li class="main-nav__item"><a class="link main-nav__link" href="typography.html">typography</a>
            </li>
            <li class="main-nav__item"><a class="link main-nav__link main-nav__link--active" href="elevation.html">elevation</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </body>
</html>

src/pug/elevation.pug
extends templates/template
append config
  - nombrePagina = 'Elevation'
  - nombreHeader = 'Elevation'
  - actual = 'elevation'

block main
  header.header.elevation-page__header
    h1= nombreHeader
  section.elevation-page__section
    .elevation-page__cards-container
      +elevation('Shadow MD', '0 5px 15px 0 rgba(0, 0, 0, 0.15)', '$shadow-md')
      +elevation('Shadow LG', '0 5px 25px 0 rgba(0, 0, 0, 0.2)', '$shadow-lg')
      +elevation('Shadow Modal', '0 5px 50px 0 rgba(0, 0, 0, 0.5)', '$shadow-modal')
